{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">About Your Business</p>
                <p>About your business here.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}