{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Frequently Asked Questions</p>
                <p class="title is-4 mt-4 mb-0">Question 1</p>
                <p>Answer 1</p>
                <p class="title is-4 mt-4 mb-0">Question 2</p>
                <p>Answer 2</p>
            </div>
        </div>
</section>
{% endblock content %}