{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Privacy Policy</p>
                <p class="subtitle">Effective Date: 1/1/2024</p>
                <p>Your Privacy Policy Here</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}