{% extends 'base.html' %}
{% block content %}
<section class="mb-5">
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title mb-0">Return Policy for Your Business</p>
                <p>Your Privacy Policy Here</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}