{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Shipping Policy for Your Business</p>
                <p>Privacy Policy Here</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}