{% extends 'base.html' %}

{% block content %}
<section>
    <div class="content mb-5">
        <div class="columns is-centered">
            <div class="column is-6">
                <p class="title">Latest Blog Posts</p>
                {% for post in posts %}
                <p class="title is-6"><a href="{{ url_for('blog.get_post', id=post.id) }}">{{ post.title }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}