{% extends 'base.html' %}
{% block content %}
<section>
<div class="container">
{% for letter in categories %}
<p class="title mb-1 mt-5">{{ letter }}</p>
{% for category in categories.get(letter) %}
<a href="{{ url_for('shop.category_page', category=category|replace(' ', '_')) }}"><h3>{{ category }}</h3></a>
{% endfor %}
{% endfor %}
</div>
</section>
{% endblock %}