<div class="card mb-3 {{sku}}-card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <img src="{{ thumb }}">
        </figure>
      </div>
      <div class="column">
        <p class="title"> {{ name }}</p>
        <p class="subtitle is-6">{{ price }}</p>
        <div class="field has-addons">
          <p class="control"><a class="button is-static">Amount:</a></p>
          <p class="control"><input class="input cc-input" type="number" min=0 value="{{amount}}" id="{{ sku }}-input"></p>
          <p class="control"><button class="button is-danger cc-delete" id="{{sku}}-delete"><span class="fas fa-trash"></span></button></p>
        </div>
      </div>
    </div>
  </div>
</div>