{% extends 'base.html' %}
{% block content %}
<section class="hero is-info has-text-centered">
    <div class="hero-body">
        <p class="title">Your Business</p>
        <p class="subtitle">Making and selling business stuff, one business at a time.</p>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="title has-text-centered mt-5">Featured Products</h1>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="title has-text-centered mt-5">Your Business</h3>
        <p>A nice blurb about your business.</p>
    </div>
</section>
{% endblock content %}