{% extends "base.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-one-quarter">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('auth.create_user') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
        <p class="title is-4 mt-5 mb-0">Or</p>
        <a class="button is-centered" href="{{ url_for('auth.oauth2_authorize', provider='google') }}"><span class="fas fa-brands fa-google"></span>&nbsp;Signup with Google</a>
        <!--<a class="button is-centered" href="{{ url_for('auth.oauth2_authorize', provider='facebook') }}"><span class="fas fa-brands fa-facebook"></span>&nbsp;Login with Facebook</a>-->
    </div>
</div>
{% endblock content %}