{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <h1>Thank you!</h1>
                <p>You'll receive an order confirmation email shortly, and another confirmation once your email has
                    shipped.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
clear_cart();
document.getElementById("cartAmount").textContent=items_in_cart();
{% endblock scripts %}