{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="content">

        {% for order in orders %}
        <div class="columns is-centered">
            <div class="column is-6">
                <a href="{{ url_for('money.order', id=order.id)}}">Order# {{ order.id }}</a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock content %}